# Import

In [1]:
import os 
import sys
import pandas as pd

In [81]:
current_dir = os.getcwd()
print(current_dir)

parent_dir = os.path.dirname(current_dir)
print(parent_dir)

sys.path.insert(0,parent_dir)

c:\ML and DS Files\Kifiya AI\Kaim-week-2\notebooks
c:\ML and DS Files\Kifiya AI\Kaim-week-2

In [98]:
from importlib import reload
import scripts.data_loader, scripts.clean_and_transform, scripts.analysis_1
reload(scripts.data_loader)
reload(scripts.clean_and_transform)
reload(scripts.analysis_1)

In [99]:
from scripts.data_loader import DataLoader
from scripts.clean_and_transform import DropNullRows, OutlierDetector, NullValueFiller
from scripts.analysis_1 import UserSessionAggregator, DataDescriber, VariableTransformer, MetricsAnalyzer

#  Load data

In [38]:
file_path = r"C:\ML and DS Files\Kifiya AI\Kaim-week-2\Week 2 data\Data\Copy of Week2_challenge_data_source(CSV).csv"
loader = DataLoader(file_path)
data = loader.load_data()

Data successfully loaded from C:\ML and DS Files\Kifiya AI\Kaim-week-2\Week 2 data\Data\Copy of Week2_challenge_data_source(CSV).csv

In [39]:
data.head(2)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0

In [40]:
data.shape

(150001, 55)

In [41]:
# drop null rows for the follwing columns
# Bearer Id, Start, End, IMSI, MSISDN/Number, IMEI,Last Location Name, Handset Manufacturer, Handset Type
dropper = DropNullRows(columns_to_check=['Bearer Id', 'Start', 'End', 'IMSI', 'MSISDN/Number', 'IMEI', 'Last Location Name', 'Handset Manufacturer', 'Handset Type'])

# Drop rows where the specified column has null values
data = dropper.drop_if_null(data)

Sucessfuly dropped null columns from ['Bearer Id', 'Start', 'End', 'IMSI', 'MSISDN/Number', 'IMEI', 'Last Location Name', 'Handset Manufacturer', 'Handset Type']

In [43]:
data.shape

(148346, 55)

In [65]:
null_columns = ['Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)', 
           'DL TP < 50 Kbps (%)','50 Kbps < DL TP < 250 Kbps (%)', '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)', 
           'UL TP < 10 Kbps (%)','10 Kbps < UL TP < 50 Kbps (%)', '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
            'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Nb of sec with 125000B < Vol DL', 'Nb of sec with 1250B < Vol UL < 6250B',
            'Nb of sec with 31250B < Vol DL < 125000B', 'Nb of sec with 37500B < Vol UL', 'Nb of sec with 6250B < Vol DL < 31250B',
            'Nb of sec with 6250B < Vol UL < 37500B','Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B']

#  Numerical null values are filled based on the outlier and normal distribution

In [66]:
# Initialize the NullValueFiller class
filler = NullValueFiller(data, null_columns)
    
# Fill null values based on mean/median decision
filler.fill_nulls()

print("\nUpdated DataFrame:")
print(data)

Column 'Avg RTT DL (ms)': No null values to fill.
Column 'Avg RTT UL (ms)': No null values to fill.
Column 'TCP DL Retrans. Vol (Bytes)': No null values to fill.
Column 'TCP UL Retrans. Vol (Bytes)': No null values to fill.
Column 'DL TP < 50 Kbps (%)': No null values to fill.
Column '50 Kbps < DL TP < 250 Kbps (%)': No null values to fill.
Column '250 Kbps < DL TP < 1 Mbps (%)': No null values to fill.
Column 'DL TP > 1 Mbps (%)': No null values to fill.
Column 'UL TP < 10 Kbps (%)': No null values to fill.
Column '10 Kbps < UL TP < 50 Kbps (%)': No null values to fill.
Column '50 Kbps < UL TP < 300 Kbps (%)': No null values to fill.
Column 'UL TP > 300 Kbps (%)': No null values to fill.
Column 'HTTP DL (Bytes)': No null values to fill.
Column 'HTTP UL (Bytes)': No null values to fill.
Column 'Nb of sec with 125000B < Vol DL': No null values to fill.
Column 'Nb of sec with 1250B < Vol UL < 6250B': No null values to fill.
Column 'Nb of sec with 31250B < Vol DL < 125000B': No null values to fill.
Column 'Nb of sec with 37500B < Vol UL': No null values to fill.
Column 'Nb of sec with 6250B < Vol DL < 31250B': No null values to fill.
Column 'Nb of sec with 6250B < Vol UL < 37500B': No null values to fill.
Column 'Nb of sec with Vol DL < 6250B': No null values to fill.
Column 'Nb of sec with Vol UL < 1250B': Filled null values with median.

Updated DataFrame:
           Bearer Id            Start  Start ms              End  End ms  \
0       1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1       1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2       1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3       1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4       1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0
...              ...              ...       ...              ...     ...
149995  1.304243e+19   4/29/2019 7:28     615.0   4/30/2019 0:01   407.0
149996  7.277826e+18   4/29/2019 7:28     451.0   4/30/2019 6:02   214.0
149997  7.349883e+18   4/29/2019 7:28     483.0  4/30/2019 10:41   187.0
149998  1.311448e+19   4/29/2019 7:28     283.0  4/30/2019 10:46   810.0
149999  1.311448e+19   4/29/2019 7:28     696.0  4/30/2019 10:40   327.0

        Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0       1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1       1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2       1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3       1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4       1089009.0  2.082014e+14   3.369980e+10  3.540701e+13
...           ...           ...            ...           ...
149995    59587.0  2.082014e+14   3.366865e+10  3.533251e+13
149996    81230.0  2.082022e+14   3.365069e+10  3.548311e+13
149997    97970.0  2.082019e+14   3.366345e+10  3.566051e+13
149998    98249.0  2.082017e+14   3.362189e+10  3.572121e+13
149999    97910.0  2.082021e+14   3.361962e+10  8.618620e+13

           Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0       9.16456699548519E+015  ...          15854611.0           2501332.0
1                     L77566A  ...          20247395.0          19111729.0
2                     D42335A  ...          19725661.0          14699576.0
3                     T21824A  ...          21388122.0          15146643.0
4                     D88865A  ...          15259380.0          18962873.0
...                       ...  ...                 ...                 ...
149995                T85721A  ...           6550499.0          18003146.0
149996                D20434A  ...          16191667.0          11763428.0
149997                D10223C  ...          13877234.0           8288284.0
149998                T51102A  ...          22660510.0           1855903.0
149999                L88342B  ...           8817106.0           8305402.0

        Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0                8198936.0           9656251.0        278082303.0
1               18338413.0          17227132.0        608750074.0
2               17587794.0           6163408.0        229584621.0
3               13994646.0           1097942.0        799538153.0
4               17124581.0            415218.0        527707248.0
...                    ...                 ...                ...
149995          22468983.0           7149728.0        784435351.0
149996          17883703.0          19678161.0        526609673.0
149997          19350146.0          21293148.0        626893062.0
149998           9963942.0           5065760.0        553539484.0
149999           3322253.0          13172589.0        352536971.0

        Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  \
0              14344150.0       171744450.0         8814393.0
1               1170709.0       526904238.0        15055145.0
2                395630.0       410692588.0         4215763.0
3              10849722.0       749039933.0        12797283.0
4               3529801.0       550709500.0        13910322.0
...                   ...               ...               ...
149995         12724751.0       321383162.0        14890486.0
149996          9197207.0         3264510.0        13487416.0
149997          4735033.0       712180387.0         2457758.0
149998         13394316.0       121100856.0        11314729.0
149999          2529475.0       814713113.0         1406930.0

        Total UL (Bytes)  Total DL (Bytes)
0             36749741.0       308879636.0
1             53800391.0       653384965.0
2             27883638.0       279807335.0
3             43324218.0       846028530.0
4             38542814.0       569138589.0
...                  ...               ...
149995        53745392.0       819016468.0
149996        57628851.0       574175259.0
149997        39135081.0       666648844.0
149998        34912224.0       592786405.0
149999        29626096.0       371895920.0

[148346 rows x 55 columns]

c:\Users\z_user\anaconda3\envs\z_env\Lib\site-packages\scipy\stats\_axis_nan_policy.py:573: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 147580.
  res = hypotest_fun_out(*samples, **kwds)

In [67]:
null_counts = data.isnull().sum()
print(null_counts)

Bearer Id                                   0
Start                                       0
Start ms                                    0
End                                         0
End ms                                      0
Dur. (ms)                                   0
IMSI                                        0
MSISDN/Number                               0
IMEI                                        0
Last Location Name                          0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
DL TP < 50 Kbps (%)                         0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
UL TP < 10 Kbps (%)                         0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Handset Manufacturer                        0
Handset Type                                0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            0
Total DL (Bytes)                            0
dtype: int64

## Task 1.1  Aggrigation

In [85]:
# Instantiate the class
aggregator = UserSessionAggregator(data)

# Perform aggregation by IMSI
aggrigated = aggregator.aggregate_per_user(user_column='IMSI')

# View results
aggrigated.head(3)

,IMSI,xdr_sessions,total_session_duration,total_dl_data,total_ul_data,total_social_media_data,total_google_data,total_email_data,total_youtube_data,total_netflix_data,total_gaming_data,total_other_data,total_application_data_volume
0,2.040471e+14,1,869844.0,78697597.0,60456049.0,1500145.0,5985089.0,2518425.0,18980320.0,21621336.0,28092282.0,389159720.0,467857317.0
1,2.040808e+14,1,877385.0,194828056.0,37295915.0,668596.0,8572779.0,842279.0,9839889.0,10340908.0,164563605.0,467678100.0,662506156.0
2,2.082001e+14,1,86019.0,31376981.0,53794658.0,3073697.0,603691.0,3076735.0,5556563.0,15305361.0,3760934.0,500044526.0,531421507.0

In [86]:
aggrigated.shape

(106351, 13)

#### variable discription

In [102]:
# Describe variables
describer = DataDescriber(aggrigated)
variable_description = describer.describe_variables()
print(variable_description)

                         Variable DataType  \
0                            IMSI  float64
1                    xdr_sessions    int64
2          total_session_duration  float64
3                   total_dl_data  float64
4                   total_ul_data  float64
5         total_social_media_data  float64
6               total_google_data  float64
7                total_email_data  float64
8              total_youtube_data  float64
9              total_netflix_data  float64
10              total_gaming_data  float64
11               total_other_data  float64
12  total_application_data_volume  float64

                                      Description
0            Bearer Id: Unique session identifier
1                       Start: Session start time
2                           End: Session end time
3     Dur. (ms): Session duration in milliseconds
4                           IMSI: User identifier
5         Total DL (Bytes): Total downloaded data
6           Total UL (Bytes): Total uploaded data
7                Description for total_email_data
8              Description for total_youtube_data
9              Description for total_netflix_data
10              Description for total_gaming_data
11               Description for total_other_data
12  Description for total_application_data_volume

####

In [101]:
# Perform user segmentation and compute total data per decile
transformer = VariableTransformer(aggrigated)
decile_data = transformer.segment_users()
print(decile_data)

KeyError: 'Dur. (ms)'